html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.dragablearea {
  overflow: auto;
  user-select: none;
  width: 100vw;
  height: 100vh;
}

.dragablearea:hover {
  cursor: grab;
}

.innerarea {
  min-width: 10000px;
  min-height: 10000px;
}

.dragablearea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
